<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
        <div class="col-md-6 text-center p-4">
            <!-- <i class="bi bi-exclamation-triangle display-1 text-primary"></i> -->
            <h3 class="mb-4">404 - Page Introuvable</h3>
            <a class="btn btn-primary rounded-pill py-3 px-5" href="/">Retour à l'accueil</a>
            <div> &nbsp;</div>
            <img src="../../static/img/Intrusion.jpg" alt="Intrusion" height="500">
            <!-- <p class="mb-4">La page n'a pas été trouvée</p> -->

        </div>
    </div>
</div>