<br>

<br>
<div class="container">
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-10">
            <h1>Bienvenue à Chavenay LFPX</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-8">
            <img class="img-fluid" src="../../static/img/tower.jpg" alt="Tour de Chavenay">
        </div>
        <div class="col-4">
            <p> <b>L'aérodrome de Chavenay</b> se situe dans le <b>département des Yvelines</b> dans la plaine de
                Versailles,
                à seulement 12 km au nord-ouest de Versailles et à 27 km à <b>l'ouest de Paris</b>.</p>

            <p>Chavenay est un petit aérodrome qui a comme nature de trafic l'<b>aviation légère</b>.
                Quelques <b>100 aéronefs y sont basés</b>, dont environ la moitié appartiennent à des propriétaires
                privés.</p>

            <p>Les activités de l'aérodrome sont nombreuses et diverses comme la <b>formation aéronautique,
                    la rénovation d'avions anciens, la construction amateur, les sports aériens, le tourisme,
                    la voltige et le vol de loisir</b>.</p>

            <br>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-sm">
            <a href="/static/vac.pdf" target="_blank"><i class="fa-regular fa-map"></i> <br> Carte VAC</a>
        </div>
        <div class="col-sm">
            <a href="https://aeroclubjeanbertin.fr/" target="_blank"><i class="fa-solid fa-plane"></i> Aéroclub
                Bertin</a> <br>
            <a href="https://aeroclubrenault.fr/" target="_blank"><i class="fa-solid fa-plane"></i> Aéroclub Renault</a>
            <br>
            <a href="https://aeroclubcaudron.fr/" target="_blank"><i class="fa-solid fa-plane"></i> Aéroclub Caudron</a>


        </div>
        <div class="col-sm">
            <a href="https://www.ecologie.gouv.fr/direction-generale-laviation-civile-dgac" target="_blank"><i
                    class="fa-solid fa-tower-observation"></i> <br> Direction Générale de l'Aviation Civile</a>


        </div>
    </div>
</div>