<h1>Création de compte</h1>


<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">

                <form method="post" id="loginForm" action="/addUser">
                    <div class="mb-3">
                        <label for="nomAdd" class="form-label">Nom</label>
                        <input type="text" class="form-control" name="nom" id="nom"  required placeholder="Saisissez ici le nom">
                    </div>
                    <div class="mb-3">
                        <label for="prenomAdd" class="form-label">Prénom</label>
                        <input type="text" class="form-control" name="prenom" id="prenom"  required placeholder="Saisissez ici le prénom">
                    </div>
                    <div class="mb-3">
                        <label for="mail" class="form-label">Adresse email</label>
                        <input type="email" class="form-control" name="mail" id="mail"  required placeholder="Saisissez ici l'e-mail">
                    </div>
                    <div class="mb-3">
                        <label for="login" class="form-label">Identifiant</label>
                        <input type="text" class="form-control" name="login" id="login"  required placeholder="Saisissez ici le login">
                    </div>
                
                    <div class="form-floating mb-3">
                        <select class="form-select" name ="statut" id="statut">
                            <option value=2>Aéroclub</option>
                            <option value=1>Contrôleur</option>
                            <option value=0>Administrateur</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </form>
                {% if info and info =="addUserOK" %}
                    <div class="alert alert-success">
                    <span class="badge badge-pill badge-success">Success</span> Nouveau membre inséré. Mot de passe = {{pwd}}
                    </div>
                {% endif %}         
            </div>
        </div>
    </div>
</div>

