<h1>Se connecter</h1>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <form action="/connecter" id="loginform" method="POST">
                    <!--<form id="loginForm">-->
                    <div class="mb-3">
                        <label for="login" class="form-label">Identifiant</label>
                        <input type="text" class="form-control" id="login" name="login"
                            placeholder="Saisissez ici votre login" required>
                    </div>
                    <div class="mb-3">
                        <label for="mdp" class="form-label">Mot de passe</label>

                        <input type="password" class="form-control" id="mdp" name="mdp"
                            placeholder="Saisissez ici votre mot de passe" required>

                    </div>

                    <button type="submit" class="btn btn-primary">Se connecter</button>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="h-25"></div>
