<h1>Prévision des vols</h1>



<select class="form-control" name="filtre" id="filtre">
    <option value="both">Mouvements et Tours de piste</option>
    <option value="tdp">Mouvements</option>
    <option value="mvt">Tours de piste</option>
</select>



<div id="schedulerEnac" class="dhx_cal_container" style='width:100%; height:100vh;'>
    <div class="dhx_cal_navline">
        <div class="dhx_cal_prev_button">&nbsp;</div>
        <div class="dhx_cal_next_button">&nbsp;</div>
        <div class="dhx_cal_today_button"></div>
        <div class="dhx_cal_date"></div>
        <div class="dhx_cal_tab" data-tab="day"></div>
        <div class="dhx_cal_tab" data-tab="week"></div>
        <div class="dhx_cal_tab" data-tab="month"></div>
        <div class="dhx_minical_icon" id="dhx_minical_icon" onclick="show_minical()" style="margin-left: 0px;">&nbsp;
        </div>
    </div>

    <div class="dhx_cal_header"></div>
    <div class="dhx_cal_data"></div>
</div>
<input value="Export to Excel" type="button" onclick="scheduler.exportToExcel()">